body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
}

a {
    color: #eee;
    text-decoration: none;
}

code, pre {
    background: #eee;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
}