.custom-input {
  height: 30px;
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  background: white;
  border: 1px solid black;
  cursor: pointer;
}

.disabled-input {
  cursor: not-allowed;
}