body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background: url(http://i.imgur.com/sduLRvf.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}