.desktop {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.icons {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
