#window-main {
  width: 500px;
  height: 300px;
}
.window {
  max-width: 100%;
}
.window,
.button {
  font-family: "Microsoft Sans Serif", sans-serif;
  padding: 2px;
  background: rgb(192, 192, 192);
  border: 1px solid white;
  border-right: 2px ridge #666;
  border-bottom: 2px ridge #666;
  outline: none;
}
.button:active {
  border: 2px solid black;
  border-right: 1px white;
  border-bottom: 1px white;
}
.title > .title-buttons > .button {
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
}
#button-close {
  font-size: 16px;
  padding-bottom: 5px;
  margin-left: 2px;
}
#button-maximize {
  font-weight: bold;
}
#button-minimize {
  font-weight: bold;
  padding-bottom: 5px;
}
.title-buttons {
  justify-self: end;
  display: flex;
  flex-direction: row;
  padding-right: 2px;
}

.window .title {
  height: 19px;
  padding-left: 3px;

  background: rgb(0, 2, 117);

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 12px;
  color: white;
}
.title-left {
  display: flex;
  align-items: center;
}
.title .icon {
  height: 17px;
  width: 17px;
}

.menu {
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 12px;
  text-decoration: none;
  user-select: none;
  padding-left: 4px;
}
.menu .menu-item {
  padding: 3px;
  font-size: 12px;
  background: transparent;
  border: none;
  outline: none;
}
.menu .menu-item:first-letter {
  text-decoration: underline;
}
.menu .menu-item:focus {
  color: white;
  background: #000275;
}
.menu .menu-item:focus + .submenu {
  display: block;
}
.menu-item + .submenu {
  position: absolute;
  display: none;
  padding: 0;
  top: 50px;
}
.submenu {
  border-left: 2px ridge white;
}
.submenu-item {
  padding: 4px 20px 4px 24px;
  min-width: 100px;
  text-align: start;
  font-size: 12px;
}
.submenu-item:hover {
  background: #000275;
  color: white;
}
.submenu-item.disabled {
  color: #757575;
}

.separator {
  margin: 0;
  color: gray;
  border: 1px inset;
}

.disabled {
  color: #757575;
}
.underline {
  text-decoration: underline;
}

.textarea {
  display: block;
  width: 100%;
  height: calc(100% - 42px);
  box-sizing: border-box;
  resize: none;
  padding: 3px;
  border: 1px solid black;
  border-right-color: rgb(184, 184, 184);
  border-bottom-color: rgb(184, 184, 184);
}

.startmenu,
.startmenu-wrapper {
  height: 30px;
  width: 100%;
  background: rgb(192, 192, 192);
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.startmenu-button:focus + .startmenu-wrapper {
  display: block;
}

.startmenu-wrapper {
  border-top: 1px solid rgb(192, 192, 192);
  height: 31px;
  display: none;
}
.startmenu-button {
  z-index: 1;
}
.startmenu-button.startmenu-wrapper {
  border: 1px solid red;
}
.startmenu > .button-wrapper,
.button-wrapper > .button {
  height: 90%;
}
.startmenu > .button-wrapper {
  display: flex;
  align-items: center;
  margin-left: 3px;
}

.startmenu-icon {
  width: 17px;
  height: 17px;
}
.startmenu > .button-wrapper > .startmenu-button .button-content {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-right: 3px;
  padding-left: 3px;
}
.button-content img {
  padding-right: 3px;
}

.startmenu-menu {
  position: absolute;
  bottom: 25px;
  left: 3px;
  width: 164px;
}
.startmenu-item {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
}
.startmenu-item img {
  width: 30px;
  height: 30px;
  padding-right: 5px;
}
.startmenu-triangle {
  display: flex;
  flex: auto;
  justify-content: flex-end;
  width: auto;
}

.startmenu-items-container {
  position: relative;
  height: 100%;
  padding-left: 25px;
}
.startmenu-menu-windowsLabel {
  background: #757575;
  padding: 3px;
  width: 25px;
  height: 269px;
  position: absolute;
  box-sizing: border-box;
}
#startmenu-menu-windowsLabelContainer {
  transform: rotate(-90deg);
  position: relative;
  top: 90%;
  font-size: 20px;
}
#menu-WindowsNameLabel {
  font-family: Arial, sans-serif;
  font-weight: bolder;
  color: #b8b8b8;
}
#menu-WindowsNumberLabel {
  font-family: Helvetica Neue, sans-serif;
  font-weight: lighter;
  color: white;
}
